<div class="container">
  <div class="card border-0 shadow mt-3">
    <div class="card-body text-center">
      <img src="../assets/CHOCOPAY.svg" class="img-fluid" width="50%">
    </div>
    <div class="card-body">
      <form [formGroup] ="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="name" class="form-control" id="name" formControlName="name" placeholder="Enter User Name">
          <span class="text-warning" *ngIf="loginForm.get('name').hasError('required') && loginForm.get('name').touched">
            User name is required
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          <span class="text-warning" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
            Password is required
          </span>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mr-3 w-50" (click)="signup()">Signup</button>
          <button type="button" [disabled]="loginForm.invalid" class="btn btn-primary w-50">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>